In [1]:
!pip install dnspython
!-m pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.8/dist-packages (2.2.1)
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

In [2]:
import json
import pymongo
from pymongo import MongoClient

In [3]:
client=pymongo.MongoClient("mongodb+srv://kesavan-DB:MongoDB545@clusterk7.tjmiorw.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [4]:
db = client.test

In [ ]:

db=client.get_database("Telephone_Directory")
records=db.Directory
records.count_documents({})

In [ ]:
Phone_directory={"_id":[i for i in input().split()],"Name":[i for i in input().split()],"Phonenumber":[int(i) for i in input().split()],"Place":[i for i in input().split()]}
Phone_directory

In [ ]:

#Converting Dictionary of list to List of Dictionaries

Phone_dir = [dict(zip(Phone_directory,t)) for t in zip(*Phone_directory.values())]
print(Phone_dir)

# import pandas as pd
# Phone_dir=pd.DataFrame(Phone_directory).to_dict(orient="records")
# Phone_dir

In [ ]:

#Inserting the Phone directory to the collection
records.insert_many(Phone_dir)

In [ ]:

records.count_documents({})

FIND

In [ ]:
#Find the records using query
x = records.find_one()
x

In [ ]:

x = records.find_one('3')
y= records.find_one('5')
print(x)
print(y)

In [ ]:
#Finding all the values
for y in records.find():
  print(y)

In [ ]:
for x in records.find({},{"_id":0, "Name" :1, "Place":1}):
  print(x)

In [ ]:

for x in records.find({},{"_id":0,"Name":1}):
  print(x)

In [ ]:

#Added some more document to the collection so we have a total of 14 documents now.
records.count_documents({})

In [ ]:

query={"Place":"Kerala"}
for x in records.find(query):
 print(x)

In [ ]:

query={"Place":"Kerala"}
for x in records.find(query,{"_id":1,"Name":1}):
 print(x)

UPDATE

In [ ]:
myquery = {"Name":"Akhilesh"}
newvalues = {"$set":{"Name":"Bipin"}}
records.update_one(myquery,newvalues)

for x in records.find():
  print(x)

In [ ]:
for x in records.find({"Place":"Kerala"},{"Name":1,"Place":1}):
  print(x)

In [ ]:
query={"Place":"Kerala"}
newvalues={"$set":{"Place":"Arunachal"}}
records.update_many(query,newvalues)

for x in records.find():
  print(x)

DELETE

In [ ]:
query={"Name":"Bipin"}
records.delete_one(query)
for x in records.find():
  print(x)